<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="电子元器件质量信息平台">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>电子元器件质量信息平台</title>
    <link rel="stylesheet" href="../css/jquery.mobile.css" />
    <script src="../js/libs/require.js" data-main="../js/app"></script>
</head>
<body>
    <div id="p-main" data-role="page">
        <div id="ec-head-toolbar" data-role="header" data-add-back-btn="true" class="ui-bar">
            <h1>ECPIM</h1>
            <input id="txt-search" type="search">
            <a id="btn-login" href="#LoginModule">登陆</a>
        </div>
        <div role="main" class="ui-content">

        </div>
        <div data-role="footer" class="ui-bar">
            <div data-role="navbar" data-position="fixed">
                <ul>
                    <li><a href="#" data-icon="grid">Summary</a> </li>
                    <li><a href="#" data-icon="star" class="ui-btn-active">Favs</a> </li>
                    <li><a href="#" data-icon="gear">Setup</a> </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
